.hero-wrap.hero-wrap-2 {
    height: 330px;
}

.hero-wrap.hero-wrap-2 .slider-text {
    height: 330px;
}
.text-muted {
    font-size: 0.9rem;
}
.text-end .fa-trash{
    cursor: pointer;
}

/* @media only screen and (max-width: 600px) and (min-width: 400px) {
    ...
} */